<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="lib/angular/js/angular.js" type="text/javascript"></script>
        <script src="lib/angular/js/angular-locale_es-es.js" type="text/javascript"></script>
        <script src="index.js" type="text/javascript"></script>
    </head>
    <body ng-controller="IndexController">
        <div>Jaime Manzanero</div>
        <h1>{{mensaje}}</h1>
        
        <input ng-model="mensaje" />
        
        <table border="1">
            <tr>
                <td>ID</td>
                <td>Nombre</td>
            </tr>
            
            <tr ng-repeat="entidadBancaria in entidadesBancarias | orderBy: 'idEntidadBancaria'">
                <td>{{entidadBancaria.idEntidadBancaria}}</td>
                <td><a href="get.html?idEntidadBancaria={{entidadBancaria.idEntidadBancaria}}">{{entidadBancaria.nombre}}</a></td>
                <td><a href="delete.html?idEntidadBancaria={{entidadBancaria.idEntidadBancaria}}">BORRAR</a></td>
            </tr>
        </table>
        
    </body>
</html>
